{% load static custom_filters wagtailcore_tags wagtailimages_tags %}

<div 
  class="py-5" 
  style="
    background-image: 
      url('../../../static/images/bg_double-quotes.svg'), 
      url('../../../static/images/bg_double-quotes.svg'); 
      background-repeat: no-repeat no-repeat; 
      background-size: 15%; 
      background-position: top left, bottom right;
  "
>
  <div class="text-center">
    <h1>{{ self.test }}</h1>
    <h4 class="primary-font-color cinzel-font-normal">{{ self.heading }}</h4>
  </div>
  <div class="carousel-section">
    <div id="quoteCarouselExampleIndicators" class="carousel slide pb-5 pt-4" data-bs-ride="carousel" data-bs-interval="10000">
      <div class="carousel-indicators mb-0">
        {% for item in self.items|shuffle %}
        <button 
          type="button" 
          data-bs-target="#quoteCarouselExampleIndicators" 
          data-bs-slide-to="{{  forloop.counter0 }}" 
          class="{% if 0 == forloop.counter0 %} active {% endif %} quote-slider-indicator" 
          aria-current="true"
          aria-label="Slide {{ forloop.counter }}">
        </button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for item in self.items %}
        <div class="carousel-item {% if 0 == forloop.counter0 %} active {% endif %}">
          <div class="container px-5">
            <div class="d-flex flex-column justify-content-center align-items-center px-5">
              <p class="fs-4 libre-baskerville-regular-italic text-center">{{ item.quote }}</p>
              <p class="mt-4">{{ item.author }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev primary-font-color type="button" data-bs-target="#quoteCarouselExampleIndicators"
        data-bs-slide="prev">
        <i class="fa-solid fa-chevron-left fs-2 primary-font-color"></i>
      </button>
      <button class="carousel-control-next primary-font-color" type="button" data-bs-target="#quoteCarouselExampleIndicators"
        data-bs-slide="next">
        <i class="fa-solid fa-chevron-right fs-2 primary-font-color"></i>
      </button>
    </div>
  </div>
</div>