{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags i18n %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
{% image self.banner_image fill-1200x400 as img %}
<!-- -------------------Banner-------------------- -->
<section>
  <div>
    <div>
      <img class="w-100 d-block img-fluid" src="{{ img.url }}" alt="{{ img.alt }}">
    </div>
  </div>
</section>
<!-- -----------------------Banner------------------------ -->

<!-- ----------------------content-------------------------- -->
<section>
  <div class="container py-5">
    <div class="heading mb-4">
      <h1 class="cinzel-font-bold primary-font-color">{{ self.headline }}</h1>
      <p>{{ self.created_at }}</p>
    </div>

    <div class="content">
      {{ self.content | richtext }}
    </div>
  </div>
</section>
<!-- ----------------------content-------------------------- -->
{% endblock %}