{% load static menu_tags i18n wagtailcore_tags wagtailimages_tags switcher_tags %}
{% get_menu 'main' as navigation %}
{% get_quick_menu as quick_nav %}

{% static "images/icons/flags.svg" as flags %}
{% language_switcher as switcher %}

<header class="navbar navbar-expand-lg fixed-top header-menu py-0">
  <div class="container pb-3 menu-container">
    <a class="navbar-brand" href="/">

      {% if settings.site_settings.CompanySettings.header_logo %}
      {% image settings.site_settings.CompanySettings.header_logo fill-250x50 as logo %}
      <img class="img-fluid" src="{{ logo.url }}" width="250" height="50" alt="{{ logo.url }}">
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav cinzel-font-normal ms-auto">
        {% for item in navigation %}
        {% if item.sub_menu_items.exists %}
        <li class="nav-item dropdown menu-item ms-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.counter }}" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ item.title }}
          </a>
          <ul class="dropdown-menu sub-menu open-sans-font mt-0 border-top-0 border-start-0 border-1 border-white"
            aria-labelledby="navbarDropdown{{ forloop.counter }}">
            {% for sub_item in item.sub_menu_items.all %}
            <li><a class="dropdown-item text-white" href="{{ sub_item.link }}">{{ sub_item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item menu-item ms-4">
          <a {% if item.open_in_new_tab %} target="_blank" {% endif %} class="nav-link {% if item.is_hovered %}hovered {% endif %}" aria-current="page"
            href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <div class="quick-menu ps-4">
        <div>
          {% for quick in quick_nav %}
          <a class="{% if quick.is_hovered %}hovered{% endif %}" {% if quick.open_in_new_tab %} target="_blank" {% endif %} href="{{ quick.link }}">{{ quick.title }}</a>
          {% endfor %}


          {% comment %} <form id="lang-selector" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language" onchange="this.form.submit()">
              {% for lang_code, lang_name in LANGUAGES %}
              {% get_language_info for lang_code as lang %}
              {% language lang_code %}
              <option value="{{ lang.code }}" {% if LANGUAGE_CODE == lang.code %}selected{% endif %}>
                {{ lang.code|upper }}
              </option>
              {% endlanguage %}
              {% endfor %}
            </select>
          </form> {% endcomment %}



          {% comment %} {% for translation in page.get_translations.live %}
          {% get_language_info for translation.locale.language_code as lang %}
          <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ lang.code }}">
              {{ lang.name_local }}
          </a>
          {% endfor %} {% endcomment %}


          <div class="dropdown switcher-menu">
            <a class="dropdown-toggle"
              title="{{ switcher.current.get_display_name }}"
              data-bs-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
                <svg class="switcher-flag" viewBox="0 0 640 480">
                    <use href="{{ flags }}#{{ switcher.current.language_code }}" />
                </svg>
            </a>
            <ul class="dropdown-menu px-3">
            {% for lang in switcher.alternatives %}
              <li>
                <a class="dropdown-item d-flex gap-2"
                  href="{{ lang.url }}"
                  title="{{ lang.name }}"
                  rel="nofollow">
                    <svg class="switcher-flag" viewBox="0 0 640 480">
                        <use href="{{ flags }}#{{ lang.code }}" />
                    </svg>
                    <div>{{ lang.name }}</div>
                </a>
              </li>
            {% endfor %}  
            </ul>
          </div>


        </div>
      </div>
    </div>

  </div>
</header>